# Miscellaneous
*.log
*.class
*.swp
.DS_Store
.history

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Build
/build/
.android/
.ios/
.gradle/
.metadata

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Coverage
coverage/
